@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

#root {
  background: linear-gradient(179.27deg, #2db3dd 0.82%, #ffffff 86.37%);
  background-attachment: fixed;
  height: 100%;
  min-height: 100vh;
  font-family: 'Inter';
}

.main a {
  text-decoration: none;
}

.header {
  padding: 60px 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 100px;
}

.header_text {
  font-size: 64px;
  line-height: 77px;
}

.header_input {
  background: #d8f1f9;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 36px;
  line-height: 40px;
  padding: 15px 10px;
  max-width: 405px;
  height: 60px;
  width: 100%;
}

.header_input:focus {
  outline: none;
}

.bookCard {
  position: relative;
  text-align: center;
  color: black;
  text-decoration: none;
  font-weight: 100;
  transition: background-color 0.2s ease-out;
}

.bookCard:not(.locked):hover {
  background-color: #00000030;
}

.bookCard.locked:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3c8;
  z-index: 10;
}

.returnDate-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
}

.returnDate_message > p {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.bookCard_image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.bookCard_author {
  font-size: 14px;
  line-height: 17px;
  margin: 20px 0;
}

.bookCard_title {
  font-size: 32px;
  line-height: 39px;
}
